// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2025.1.0.39.0
// Netlist written on Tue Sep  9 21:46:49 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/chris/onedrive/desktop/wu-e155-lab1/fpga/src/lab1_sevensegmentdisplay.sv"
// file 1 "c:/users/chris/onedrive/desktop/wu-e155-lab2/e155-lab2/lab2_aiprototype2/source/impl_1/timemux_sevensegmentdisplay.sv"
// file 2 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2025.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 24 "c:/lscc/radiant/2025.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 25 "c:/lscc/radiant/2025.1/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2025.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2025.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2025.1/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2025.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2025.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2025.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2025.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2025.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2025.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2025.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2025.1/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2025.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2025.1/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2025.1/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2025.1/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2025.1/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2025.1/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2025.1/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2025.1/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2025.1/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2025.1/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2025.1/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2025.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module timemux_sevenSegmentDisplay
//

module timemux_sevenSegmentDisplay (input [3:0]input_a, input [3:0]input_b, 
            output [6:0]seg, output enable_a, output enable_b);
    
    wire input_a_c_3;
    wire input_a_c_2;
    wire input_a_c_1;
    wire input_a_c_0;
    wire input_b_c_3;
    wire input_b_c_2;
    wire input_b_c_1;
    wire input_b_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire enable_a_c_N_36;
    (* is_clock=1, lineinfo="@1(10[11],10[18])" *) wire int_osc;
    wire enable_a_c;
    wire [20:0]counter;
    wire [3:0]current_input;
    
    wire GND_net, VCC_net, n7, n827, n824, n239, n233, n821, 
        n388, n394, n806, n384, n386, n25, n24, n23, n9, n22;
    wire [20:0]n89;
    
    wire n800, n803, n396, n380, n392, n378, n390, n382, n812, 
        n809, n830, n815, n818;
    
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i0 (.D(n89[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[0]));
    defparam counter_20__i0.REGSET = "RESET";
    defparam counter_20__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@1(29[9],32[37])" *) LUT4 input_a_c_3_I_0_3_lut (.A(input_a_c_3), 
            .B(input_b_c_3), .C(enable_a_c), .Z(current_input[3]));
    defparam input_a_c_3_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@1(29[9],32[37])" *) LUT4 input_a_c_2_I_0_3_lut (.A(input_a_c_2), 
            .B(input_b_c_2), .C(enable_a_c), .Z(current_input[2]));
    defparam input_a_c_2_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(21[13],21[30])" *) LUT4 i8_4_lut (.A(counter[18]), 
            .B(counter[0]), .C(counter[2]), .D(counter[19]), .Z(n22));
    defparam i8_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(21[13],21[30])" *) LUT4 i10_4_lut (.A(counter[5]), 
            .B(counter[17]), .C(counter[9]), .D(counter[4]), .Z(n24));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(21[13],21[30])" *) LUT4 i9_4_lut (.A(counter[13]), 
            .B(counter[15]), .C(counter[16]), .D(counter[1]), .Z(n23));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))", lineinfo="@1(21[13],21[30])" *) LUT4 i11_3_lut (.A(counter[3]), 
            .B(n22), .C(counter[20]), .Z(n25));
    defparam i11_3_lut.INIT = "0xfefe";
    (* lut_function="(!(A))", lineinfo="@1(37[23],37[34])" *) LUT4 enable_a_c_I_0_1_lut (.A(enable_a_c), 
            .Z(enable_a_c_N_36));
    defparam enable_a_c_I_0_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i20 (.D(n89[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[20]));
    defparam counter_20__i20.REGSET = "RESET";
    defparam counter_20__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i19 (.D(n89[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[19]));
    defparam counter_20__i19.REGSET = "RESET";
    defparam counter_20__i19.SRMODE = "CE_OVER_LSR";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i1_4_lut (.A(counter[14]), 
            .B(n25), .C(n23), .D(n24), .Z(n9));
    defparam i1_4_lut.INIT = "0xfffd";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@1(29[9],32[37])" *) LUT4 input_a_c_1_I_0_3_lut (.A(input_a_c_1), 
            .B(input_b_c_1), .C(enable_a_c), .Z(current_input[1]));
    defparam input_a_c_1_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A+!(B (C (D)))))", lineinfo="@1(21[13],21[30])" *) LUT4 i2_4_lut (.A(n9), 
            .B(counter[12]), .C(counter[11]), .D(counter[10]), .Z(n7));
    defparam i2_4_lut.INIT = "0x4000";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i18 (.D(n89[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[18]));
    defparam counter_20__i18.REGSET = "RESET";
    defparam counter_20__i18.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))", lineinfo="@1(21[13],21[30])" *) LUT4 i4_4_lut (.A(n7), 
            .B(counter[8]), .C(counter[7]), .D(counter[6]), .Z(n239));
    defparam i4_4_lut.INIT = "0x8000";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@1(29[9],32[37])" *) LUT4 input_a_c_0_I_0_3_lut (.A(input_a_c_0), 
            .B(input_b_c_0), .C(enable_a_c), .Z(current_input[0]));
    defparam input_a_c_0_I_0_3_lut.INIT = "0xcaca";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n396), .CI0(n396), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n830), .CI1(n830), .CO0(n830), 
            .S0(n89[19]), .S1(n89[20]));
    defparam counter_20_add_4_21.INIT0 = "0xc33c";
    defparam counter_20_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n392), .CI0(n392), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n824), .CI1(n824), .CO0(n824), 
            .CO1(n394), .S0(n89[15]), .S1(n89[16]));
    defparam counter_20_add_4_17.INIT0 = "0xc33c";
    defparam counter_20_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n390), .CI0(n390), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n821), .CI1(n821), .CO0(n821), 
            .CO1(n392), .S0(n89[13]), .S1(n89[14]));
    defparam counter_20_add_4_15.INIT0 = "0xc33c";
    defparam counter_20_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n388), .CI0(n388), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n818), .CI1(n818), .CO0(n818), 
            .CO1(n390), .S0(n89[11]), .S1(n89[12]));
    defparam counter_20_add_4_13.INIT0 = "0xc33c";
    defparam counter_20_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n386), .CI0(n386), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n815), .CI1(n815), .CO0(n815), 
            .CO1(n388), .S0(n89[9]), .S1(n89[10]));
    defparam counter_20_add_4_11.INIT0 = "0xc33c";
    defparam counter_20_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n382), .CI0(n382), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n809), .CI1(n809), .CO0(n809), 
            .CO1(n384), .S0(n89[5]), .S1(n89[6]));
    defparam counter_20_add_4_7.INIT0 = "0xc33c";
    defparam counter_20_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n380), .CI0(n380), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n806), .CI1(n806), .CO0(n806), 
            .CO1(n382), .S0(n89[3]), .S1(n89[4]));
    defparam counter_20_add_4_5.INIT0 = "0xc33c";
    defparam counter_20_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n384), .CI0(n384), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n812), .CI1(n812), .CO0(n812), 
            .CO1(n386), .S0(n89[7]), .S1(n89[8]));
    defparam counter_20_add_4_9.INIT0 = "0xc33c";
    defparam counter_20_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n394), .CI0(n394), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n827), .CI1(n827), .CO0(n827), 
            .CO1(n396), .S0(n89[17]), .S1(n89[18]));
    defparam counter_20_add_4_19.INIT0 = "0xc33c";
    defparam counter_20_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n378), .CI0(n378), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n803), .CI1(n803), .CO0(n803), 
            .CO1(n380), .S0(n89[1]), .S1(n89[2]));
    defparam counter_20_add_4_3.INIT0 = "0xc33c";
    defparam counter_20_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@1(20[20],20[31])" *) FA2 counter_20_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n800), .CI1(n800), .CO0(n800), .CO1(n378), 
            .S1(n89[0]));
    defparam counter_20_add_4_1.INIT0 = "0xc33c";
    defparam counter_20_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i17 (.D(n89[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[17]));
    defparam counter_20__i17.REGSET = "RESET";
    defparam counter_20__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i16 (.D(n89[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[16]));
    defparam counter_20__i16.REGSET = "RESET";
    defparam counter_20__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i15 (.D(n89[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[15]));
    defparam counter_20__i15.REGSET = "RESET";
    defparam counter_20__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i14 (.D(n89[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[14]));
    defparam counter_20__i14.REGSET = "RESET";
    defparam counter_20__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i13 (.D(n89[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[13]));
    defparam counter_20__i13.REGSET = "RESET";
    defparam counter_20__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i12 (.D(n89[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[12]));
    defparam counter_20__i12.REGSET = "RESET";
    defparam counter_20__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i11 (.D(n89[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[11]));
    defparam counter_20__i11.REGSET = "RESET";
    defparam counter_20__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i10 (.D(n89[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[10]));
    defparam counter_20__i10.REGSET = "RESET";
    defparam counter_20__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i9 (.D(n89[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[9]));
    defparam counter_20__i9.REGSET = "RESET";
    defparam counter_20__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i8 (.D(n89[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[8]));
    defparam counter_20__i8.REGSET = "RESET";
    defparam counter_20__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i7 (.D(n89[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[7]));
    defparam counter_20__i7.REGSET = "RESET";
    defparam counter_20__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i6 (.D(n89[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[6]));
    defparam counter_20__i6.REGSET = "RESET";
    defparam counter_20__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i5 (.D(n89[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[5]));
    defparam counter_20__i5.REGSET = "RESET";
    defparam counter_20__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i4 (.D(n89[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[4]));
    defparam counter_20__i4.REGSET = "RESET";
    defparam counter_20__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i3 (.D(n89[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[3]));
    defparam counter_20__i3.REGSET = "RESET";
    defparam counter_20__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i2 (.D(n89[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[2]));
    defparam counter_20__i2.REGSET = "RESET";
    defparam counter_20__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@1(20[20],20[31])" *) FD1P3XZ counter_20__i1 (.D(n89[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(n239), .Q(counter[1]));
    defparam counter_20__i1.REGSET = "RESET";
    defparam counter_20__i1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, lineinfo="@1(19[15],25[8])" *) FD1P3XZ mux_select (.D(n233), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(enable_a_c));
    defparam mux_select.REGSET = "RESET";
    defparam mux_select.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i1_2_lut (.A(enable_a_c), 
            .B(n239), .Z(n233));
    defparam i1_2_lut.INIT = "0x6666";
    (* lineinfo="@1(3[23],3[30])" *) IB \input_b_pad[0]  (.I(input_b[0]), 
            .O(input_b_c_0));
    (* lineinfo="@1(3[23],3[30])" *) IB \input_b_pad[1]  (.I(input_b[1]), 
            .O(input_b_c_1));
    (* lineinfo="@1(3[23],3[30])" *) IB \input_b_pad[2]  (.I(input_b[2]), 
            .O(input_b_c_2));
    (* lineinfo="@1(3[23],3[30])" *) IB \input_b_pad[3]  (.I(input_b[3]), 
            .O(input_b_c_3));
    (* lineinfo="@1(2[23],2[30])" *) IB \input_a_pad[0]  (.I(input_a[0]), 
            .O(input_a_c_0));
    (* lineinfo="@1(2[23],2[30])" *) IB \input_a_pad[1]  (.I(input_a[1]), 
            .O(input_a_c_1));
    (* lineinfo="@1(2[23],2[30])" *) IB \input_a_pad[2]  (.I(input_a[2]), 
            .O(input_a_c_2));
    (* lineinfo="@1(2[23],2[30])" *) IB \input_a_pad[3]  (.I(input_a[3]), 
            .O(input_a_c_3));
    (* lineinfo="@1(6[18],6[26])" *) OB enable_b_pad (.I(enable_a_c_N_36), 
            .O(enable_b));
    (* lineinfo="@1(5[18],5[26])" *) OB enable_a_pad (.I(enable_a_c), .O(enable_a));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@1(4[24],4[27])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* LSE_LINE_FILE_ID=74, LSE_LCOL=30, LSE_RCOL=6, LSE_LLINE=40, LSE_RLINE=43, lineinfo="@1(40[30],43[6])" *) lab1_sevenSegmentDisplay decoder ({current_input}, 
            seg_c_2, seg_c_1, seg_c_0, seg_c_6, seg_c_3, seg_c_4, 
            seg_c_5);
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    
endmodule

//
// Verilog Description of module lab1_sevenSegmentDisplay
//

module lab1_sevenSegmentDisplay (input [3:0]current_input, output seg_c_2, 
            output seg_c_1, output seg_c_0, output seg_c_6, output seg_c_3, 
            output seg_c_4, output seg_c_5);
    
    
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@0(13[9],31[16])" *) LUT4 seg_c_2_I_0_4_lut (.A(current_input[0]), 
            .B(current_input[3]), .C(current_input[1]), .D(current_input[2]), 
            .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))", lineinfo="@0(13[9],31[16])" *) LUT4 seg_c_1_I_0_4_lut (.A(current_input[1]), 
            .B(current_input[3]), .C(current_input[2]), .D(current_input[0]), 
            .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@0(13[9],31[16])" *) LUT4 current_input_3__I_0_4_lut (.A(current_input[2]), 
            .B(current_input[1]), .C(current_input[3]), .D(current_input[0]), 
            .Z(seg_c_0));
    defparam current_input_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(!(A (((D)+!C)+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@0(13[9],31[16])" *) LUT4 seg_c_6_I_0_4_lut_4_lut (.A(current_input[1]), 
            .B(current_input[0]), .C(current_input[2]), .D(current_input[3]), 
            .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut_4_lut.INIT = "0x1085";
    (* lut_function="(A (B (C)+!B !(C+(D)))+!A !(B (C+(D))+!B !(C (D))))" *) LUT4 n699_bdd_4_lut_4_lut (.A(current_input[2]), 
            .B(current_input[0]), .C(current_input[1]), .D(current_input[3]), 
            .Z(seg_c_3));
    defparam n699_bdd_4_lut_4_lut.INIT = "0x9086";
    (* lut_function="(!(A ((D)+!C)+!A (B (D)+!B !(C))))", lineinfo="@0(13[9],31[16])" *) LUT4 seg_c_4_I_0_4_lut_4_lut (.A(current_input[1]), 
            .B(current_input[2]), .C(current_input[0]), .D(current_input[3]), 
            .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut_4_lut.INIT = "0x10f4";
    (* lut_function="(!(A (B (D)+!B (C+(D)))+!A !(B (C (D)+!C !(D)))))", lineinfo="@0(13[9],31[16])" *) LUT4 seg_c_5_I_0_4_lut_4_lut (.A(current_input[1]), 
            .B(current_input[0]), .C(current_input[2]), .D(current_input[3]), 
            .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut_4_lut.INIT = "0x408e";
    
endmodule
